algs4-data/pi.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyEWDnc.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyST.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyT.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/amino.csv filter=lfs diff=lfs merge=lfs -text
algs4-data/medTale.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/ex2.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/in2.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/mobydick.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyFN.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/1Mints.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/cards.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/mediumEWG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyEWDAG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/leipzig1M.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/m2.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/words3.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/2Kints.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/8Kints.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/m1.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/rates.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyCG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyUF.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/1Kints.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/kw1260.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/movies.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/q64x96.bin filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyEWG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/abraLZW.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/jobs.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyEWDn.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyPQ.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyTale.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinytinyTale.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/ip.csv filter=lfs diff=lfs merge=lfs -text
algs4-data/q32x48.bin filter=lfs diff=lfs merge=lfs -text
algs4-data/ex1.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/mediumDG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/mediumEWD.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/routes.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tale.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyW.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/aminoI.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/brownian.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/shellsST.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyBatch.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyDG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tobe.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/largeT.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/largeUF.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/ababLZW.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/aminoI.csv filter=lfs diff=lfs merge=lfs -text
algs4-data/mediumUF.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyEWD.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/16Kints.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/4Kints.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/genomeVirus.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/8ints.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/genomeTiny.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/jobsPC.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/rs1423.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyDAG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/4runs.bin filter=lfs diff=lfs merge=lfs -text
algs4-data/in1.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/m3.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/mediumG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tiny.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/abra.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/largeEWD.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/largeG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/largeW.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/ex4.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/largeDG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/diffusion.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/list.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/shells.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/DJIA.csv filter=lfs diff=lfs merge=lfs -text
algs4-data/UPC.csv filter=lfs diff=lfs merge=lfs -text
algs4-data/largeEWG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/tinyG.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/32Kints.txt filter=lfs diff=lfs merge=lfs -text
algs4-data/ex3.txt filter=lfs diff=lfs merge=lfs -text
